.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333333;
    text-align: center;


    .footer__text {
    }

    .footer__icons {

    }
}
@media screen and (min-width: 320px) and (max-width: 480px) { 

}

@media screen and (min-width: 480px) and (max-width: 805px) {

 }


@media screen and (min-width: 806px) {

 }