
.heading__container {
    width: 100%;
    height: auto;
    min-height: 76.5vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/header_bg_mountains.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;


    form {
        display: flex;
        max-width: 40%;
        width: 100%;

        input {
            padding: 10px;
            width: 70%;

            &::placeholder {
                text-align: center;
                font-family: 'Josefin Sans', sans-serif;; 
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 26px;
                letter-spacing: 2.8px;      
            }
            &:hover {
                opacity: 0.8;
            }

        button {
            display: flex;
            width: 100%;
            max-width: 153px;
            }
        }
    }
}
.scroll__down {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    h6 {
        margin: 0;
    }
}

.nav__container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #5474FD;
    background-size: cover;
    width: 100%;
    height: 100%;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            list-style: none;
            a {
                text-decoration: none;
                margin: 20px;
            }
        }
    }
 
}


@media screen and (min-width: 320px) and (max-width: 805px) { 
    .heading__container {
        form {
            display: flex;
            flex-direction: column;
            max-width: 70vw;
            width: 100%;
    
            input {
                align-self: center;
                padding: 10px;
                width: 95vw;
    
                &::placeholder {
                    text-align: center;
                    font-family: 'Josefin Sans', sans-serif;; 
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 26px;
                    letter-spacing: 2.8px;      
                }
                &:hover {
                    opacity: 0.8;
                }
    
            button {
                display: flex;
                width: 40%;
                }
            }
        }
    }
    .nav__container {
        flex-direction: column;
        text-align: center;
        height: 30vh;
        ul {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }
        a {
            border: solid 1px;
            font-size: 16px;
            padding: 8px;
        }
    }
}
