// <i class="fa-regular fa-thumbs-up fa-2xl"></i>
// <i class="fa-regular fa-circle-check fa-2xl"></i>
// <i class="fa-solid fa-magnifying-glass fa-2xl"></i>
// <i class="fa-brands fa-linkedin-in">
.fa-thumbs-up {
    color: #00A2FF;
}
.fa-magnifying-glass.blue {
    color: #00A2FF;
}
.fa-circle-check {
    color: #FF6363;
}
.fa-linkedin-in {
    color: #5474FD;
}
.fa-quote-left {
    color: #5474FD;

}