.section5__container {
    background-size: 100%;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(10,10%);
    background-image: url("../images/section5_hazy_bg_man_on_mountain.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    h2 {
        grid-area: 2 / 5 / 3 / 8 ;
        text-align: center;
    }
    .s5i-1 {
        display: flex;
        grid-area: 4 / 3 / 9 / 6 ;
        height: 100%;
    }
    .para__head {
        display: flex;
        flex-direction: column;
        grid-area: 4 / 6 / 8 / 10;
        background-color: #333333;
        width: 100%;
        height: 100%;
        max-width: 100vw;
        min-height: 28vh;
        padding: 20px;
    }

}
@media screen and (min-width: 320px) and (max-width: 805px) { 
    .section5__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    
        .s5i-1 {
            width: 92%;
            height: auto;
        }
        .para__head {
            display: flex;
            align-self: center;
            width: 80%;
            height: 38%;

        }
    }
}
