.icon__text__container {
    min-height: 35vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    background-image: url("../images/section2__flex__line.svg");
    background-repeat: no-repeat;
    background-position: top 10% center;
    background-size: 50%;
    text-align: center;

    &__items {
        display: flex;
        justify-content: space-between;
        width: 65vw;
        
        &--1 {
            margin-left: 20px;
        }
        &--2 {
            margin-left: 20px;

        }
        &--3 {
            margin-left: 20px;

        }
    }
}

