.section1__container {
    width: 100%;
    min-height: 70vh;
    background-image: url("../images/hazy_bg_section1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(20,5%);
    grid-template-rows:repeat(20,5%)auto ;

    h2 {
        grid-area: 6 / 4 / 8 / 9 ;
    }
    .p-1 {
        display: flex;
        flex-wrap: wrap;
        grid-area: 8 / 4 / 10 / 11 ;
    }
    .p-2 {
        grid-area: 11 / 4 / 13 / 11;
    }
    .i-1 {
        grid-area: 3 / 12 / 8 / 16;
    }
    .i-2 {
        grid-area:  11 / 13 / 17 / 18 ;
    }
    button {
        grid-area: 14 / 4 / 16 / 6;
        margin-top: 20px;
        height: 6vh;
        width: 15vw;
    }
}


@media screen and (min-width: 320px) and (max-width: 805px) { 
    .section1__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5px;
        
        h2, .p-2, .p-1 {
            text-align: center;
            padding: 10px;
        }
        img {
            align-self: center;
            width: 70%;
            height: auto;
        }
        button {
            align-self: center;
            width: 80%;
        }
    }
}

