.icon__text__container {
    min-height: 30vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    // works with bigger screen... But not nice enough for 1440px
    // background-image: url("../images/section2__flex__line.svg");
    // background-repeat: no-repeat;
    // background-position: top 10% center;
    // background-size: 50%;
    text-align: center;
    .curve-me {
        display: flex;
        flex-direction: row;
        .curved {
            width: 39vh; 
            height: 10.7vh;  
            border: solid 1px #fff;
            border-color: #fff transparent transparent transparent;
            border-radius: 50%/100px 100px 0 0;
            opacity: 0.5;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 60vw;
    }
}

@media screen and (min-width: 320px) and (max-width: 805px) { 
    .icon__text__container {
        background-image: none;
        &__items {
            flex-direction: column;
        }
    }
    .curve-me {
        display: none;
        .curved {
            display: none;
        }
    }

}


